name: BIONIC Webapp Production Continuous Deployment

on:
  push:
    branches: [main]

jobs:
#   deploy_backend_server:
#     runs-on: self-hosted
#     defaults:
#       run:
#         working-directory: server
#     steps:
#       - uses: actions/checkout@v2
#       - uses: actions/setup-node@v1
#         with:
#           node-version: '14.x'

#       - run: npm ci
#       - run: pm2 restart server
  
  deploy_frontend_server:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - run: npm ci
      - run: npm run build
      
      - name: SCP build to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          source: ".next/*"
          target: "/root/bionic-webapp/client/.next"
      
