name: BIONIC Webapp Production Continuous Deployment

on:
  push:
    branches: [main]

jobs:
  deploy_backend_server:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: server
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - run: npm ci
      - run: pm2 restart server
  
  deploy_frontend_server:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: client
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - run: npm ci
      - run: npm run build
      - run: pm2 restart client
